<html>
  <head>
    <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='container'>
    <script type="text/stache" can-autorender id='main'>
      <can-import from="bootstrap/dist/css/bootstrap.css" />
      <can-import from="bitcentive/styles.less" />
      <can-import from="bitcentive/components/contribution-month/" />
      <bit-contribution-month {contribution-month-id}="contributionMonthId"/>
    </script>
  </div>
    <script src="../../../node_modules/steal/steal.js"
            main="can-view-autorender">
      import autorender from 'can-view-autorender';
      import viewModel from 'can-view-model';
      window.viewModel = viewModel;

      // Load fixtures for socket.io:
      import 'bitcentive/models/fixtures/fixtures-socket';

      autorender(function(){
        viewModel(document.getElementById("main")).set("contributionMonthId","1");
      });
    </script>
  </body>
</html>
