<html>
  <head>
    <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='container'>
    <script type="text/stache" can-autorender id='main'>
      <can-import from="bootstrap/dist/css/bootstrap.css" />
      <can-import from="bitcentive/styles.less" />
      <can-import from="bitcentive/components/contribution-month/" />
      <bit-contribution-month {contribution-month-id}="contributionMonthId"/>
    </script>
  </div>
    <script src="../../../node_modules/steal/steal.js"
            main="@empty">
      import viewModel from 'can-view-model';
      window.viewModel = viewModel;

      import io from 'socket.io-client/socket.io';
      import fixtureSocket from 'can-fixture-socket';
      import mockContributionMonthsService from 'bitcentive/models/fixtures/contribution-months';

      // Mock socket.io server:
      var mockServer = new fixtureSocket.Server( io );
      mockContributionMonthsService( mockServer );

      // Postpone autorender till socket.io gets mocked:
      System.import('can-view-autorender').then(function(autorender){
        autorender(function(){
          console.log('can-view-autorender done.');
          viewModel(document.getElementById("main")).set("contributionMonthId","1");
        })
      });
    </script>
  </body>
</html>
