<script type="text/stache" can-autorender id="osProjects">
  <can-import from="bootstrap/dist/css/bootstrap.css" />
  <can-import from="bitcentive/styles.less" />
  <can-import from="bitcentive/models/fixtures/fixtures" />
  <can-import from="bitcentive/components/os-projects/" />
  <os-projects {contribution-month}="contributionMonth"/>
</script>

<script src="../../../node_modules/steal/steal.js" main="can-view-autorender">
  import ContributionMonth from 'bitcentive/models/contribution-month';
  import viewModel from 'can-view-model';
  import contributionMonthStoreFixture from "bitcentive/models/fixtures/fixtures";
  import OSProject from 'bitcentive/models/os-project';
  import ClientProject from 'bitcentive/models/client-project';

    var osProject = new OSProject({
        _id: "somethingCrazey",
        name: "CanJS"
    });

    var osProject2 = new OSProject({
        _id: "12476712612671247676124",
        name: "DoneJS"
    });

    var clientProject = new ClientProject({
        _id: "asl;dfal;sfj ;lakwj",
        name: "HualHound"
    });

    var contributionMonth = new ContributionMonth({
        _id: "aslkfalsjklas",
        date: 124234211310000,
        monthlyOSProjects: [
          {
            significance: 80,
            commissioned: true,
            osProjectRef: osProject._id,
            osProject: osProject
          },
          {
            significance: 15,
            commissioned: true,
            osProjectRef: osProject2._id,
            osProject: osProject2
          }
        ],
        monthlyClientProjects: [{
            monthlyClientProjectsOSProjects: [
              {
                osProjectRef: osProject._id,
                osProject: osProject
              },
              {
                osProjectRef: osProject2._id,
                osProject: osProject2
              },
            ],
            hours: 100,
            clientProjectRef: clientProject._id,
            clientProject: clientProject
        }]
    });


    //contributionMonthsListData = contributionMonthStoreFixture.getList();

  viewModel($("#osProjects")[0]).set("contributionMonth", contributionMonth);

</script>
