<script type="text/stache" can-autorender id="contributors">
	<can-import from="bootstrap/dist/css/bootstrap.css" />
	<can-import from="bitcentive/styles.less" />
	<can-import from="bitcentive/components/page-contributors/contributors/" />
	<can-import from="bitcentive/models/fixtures/fixtures" />
	<bit-contributors {(contributors)}="contributors" />
</script>
<style>
bit-contributors {
	background-color: #fff;
}
</style>
<script src="../../../node_modules/steal/steal.js" main="can-view-autorender">
	import 'bitcentive/models/fixtures/fixtures-socket';
	import Contributor from 'bitcentive/models/contributor';
	import viewModel from 'can-view-model';

	Contributor.getList({}).then(function(items){
		viewModel($("#contributors")[0]).set("contributors", items);
	});

	window.viewModel = viewModel;
</script>
