<script type="text/stache" can-autorender id="main">
	<can-import from="bootstrap/dist/css/bootstrap.css" />
	<can-import from="bitcentive/styles.less" />
	<can-import from="bitcentive/models/fixtures/" />
	<can-import from="bitcentive/components/page-dashboard/select-contribution-month/" />
</script>
<script src="../../../node_modules/steal/steal.js" main="can-view-autorender">
	import viewModel from 'can-view-model';
	import "bitcentive/models/fixtures/fixtures-socket";
	import "bitcentive/components/page-dashboard/select-contribution-month/";

	import DefineMap from "can-define/map/";
	import stache from "can-stache";

	window.vm = new DefineMap({contributionMonthId: "1"})

	var template = stache('<bit-select-contribution-month selectedContributionMonthId:bind="contributionMonthId"/>')
	document.body.appendChild( template(vm) );

</script>
