<div class="container">
	<script type="text/stache" can-autorender id='main'>
		<can-import from="jquery" />
		<can-import from="bootstrap" />
		<can-import from="bootstrap/dist/css/bootstrap.css" />
		<can-import from="bitcentive/styles.less" />
		<can-import from="bitcentive/components/page-dashboard/contribution-month/" />
		<bit-contribution-month {contribution-month-id}="contributionMonthId"/>
	</script>
</div>
<style>
.callout {
	background-color: #fff;
}
</style>
<script src="../../../node_modules/steal/steal.js" main="can-view-autorender">
	import 'bitcentive/models/fixtures/fixtures-socket';
	import viewModel from 'can-view-model';
	import autorender from 'can-view-autorender';

	window.viewModel = viewModel;

	autorender(function(){
		viewModel(document.getElementById("main")).set("contributionMonthId","1");
	});
</script>
