<script type="text/stache" can-autorender id="clientProjects">
  <can-import from="bitcentive/components/client-projects/" />
  <can-import from="bitcentive/models/fixtures/client-project" />
  <bit-client-projects {contribution-month}="contributionMonth"/>
</script>
<script src="../../../node_modules/steal/steal.js" main="can-view-autorender">
  import ContributionMonth from 'bitcentive/models/contribution-month';
  import viewModel from 'can-view-model';
  import assign from "can-util/js/assign/";

  var osProject = {
    _id: "somethingCrazey",
    name: "CanJS"
  };
  var osProject2 = {
    _id: "232131",
    name: "DoneJS"
  };
  var clientProject = {
    _id: "asl;dfal;sfj ;lakwj",
    name: "HaulHound"
  };

  viewModel($("#clientProjects")[0]).set("contributionMonth", new ContributionMonth({
    _id: "aslkfalsjklas",
    date: 124234211310000,
    monthlyOSProjects: [{
      significance: 80,
      commissioned: true,
      osProjectId: osProject._id,
      osProject: assign({}, osProject)
    },{
      significance: 10,
      commissioned: true,
      osProjectId: osProject2._id,
      osProject: assign({}, osProject2)
    }],
    monthlyClientProjects: [{
      monthlyClientProjectsOsProjects: [{
        osProjectId: osProject._id,
        osProject: assign({}, osProject)
      }],
      hours: 100,
      clientProjectId: clientProject._id,
      clientProject: assign({}, clientProject)
    }]
  }))
</script>