<script type="text/stache" can-autorender id="contributors">
  <can-import from="bootstrap/dist/css/bootstrap.css" />
  <can-import from="bitcentive/styles.less" />
  <can-import from="bitcentive/components/contributors/" />
  <can-import from="bitcentive/models/fixtures/fixtures" />
  <bit-contributors {(contributors)}="contributors" />
</script>
<script src="../../../node_modules/steal/steal.js" main="can-view-autorender">
  import Contributor from 'bitcentive/models/contributor';
  import viewModel from 'can-view-model';

  viewModel($("#contributors")[0]).set("contributors", new Contributor.List([
    new Contributor({
      _id: "1-JustinMeyer",
      name: "Justin Meyer",
      active: true
    }),
    new Contributor({
      _id: "2-KyleGifford",
      name: "Kyle Gifford",
      active: false
    })
  ]));
  window.viewModel = viewModel;
</script>
